// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1280px;
$layout-breakpoint-small: 860px;
$layout-breakpoint-xsmall: 540px;

// Colors
$background: #f0eff1;
$bg-light: #EECF76;
$white: #fff;
$black: #24242a;
$icons:  #EECF76;


// Font Colors
$dark-text: rgb(103, 103, 103);
$light-text: white;
