.navbar--container {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  // position: absolute;
  // z-index: 10;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    max-width: 1500px;
    margin: 0rem auto;
    color: $dark-text;

    .logo {
      display: flex;
      justify-self: center;
      img {
        width: 6rem;
        cursor: pointer;
        @media (max-width: $layout-breakpoint-medium) {
          width: 6rem;
        }
      }
    }
    .menu {
      .contact {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: "Gwendolyn", cursive;
        font-weight: 700;
        font-size: 1.2rem;
        @media (max-width: $layout-breakpoint-xsmall) {
          display: none;
        }
        i {
          font-weight: 300;
          font-size: 2.5rem;
          color: $icons;
        }
        .number {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
      .menu--icon {
        display: none;
        @media (max-width: $layout-breakpoint-xsmall) {
          cursor: pointer;
          display: flex;
          // margin-right: 3rem;
        }
      }
    }
  }
}
