.plan--container {
  margin-top: 6rem;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .plan {
    width: 80%;
    max-width: 1500px;
    margin: 0rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
    }
    .image{
      width: calc(100% / 1.5);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @media (max-width: $layout-breakpoint-small) {
          width: 35rem;
        }
        @media (max-width: $layout-breakpoint-xsmall) {
          width: 20rem;
        }
      }
    }
    .plan--details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media (max-width: $layout-breakpoint-small) {
        text-align: center;
      }
      h2 {
        font-size: 2rem;
        color: black;
        margin-bottom: 1rem;
      }
      p {
        color: $dark-text;
      }
    }
  }
}
